

[alias]
    br = branch
    co = checkout
    df = difftool
    d = diff
    mg = merge
    st = status
    last = log --pretty=oneline -1 HEAD
    glog = log --graph --date=short --pretty=tformat:'%ad %h %s'
    l = log --color --oneline --decorate --graph --all
	la = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci)%Creset %Cblue(%an)%Creset %ce' --abbrev-commit --date=short
	cm = commit -m

